*/{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #111;
    color: white;
}
.navbar-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image:url(/Downloads/logo.jpg) ;
    background-size: cover;
    height: 50px;
    width: 100px;
}